{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero">

    </section>

    <section class="section section-about" aria-labelledby="about-title">
        <div class="scroll-text-section">
            <div class="bg-text--scroll bg-text--about" aria-hidden="true">
                <div class="bg-text__track">
                    <span>ABOUT US</span>
                    <span>ABOUT US</span>
                    <span>ABOUT US</span>
                    <span>ABOUT US</span>
                </div>
            </div>
    
            <div class="section-about__content scroll-text-section__content section-centered">

                <twig:SectionIntro
                    title="ABOUT US"
                    subtitle="BLorem ipsum dolor sit amet, consectetur adipiscing elit."
                    buttonText="Discover more"
                    linkBtn="#"
                />

                <div class="section-about__text-image">
                    <!-- Text -->
                    <div class="section-about__text">
                        <h3 class="section-about__subtitle">A photographic story...</h3>
                        <div class="section-divider__large" aria-hidden="true"></div>
                        <p class="text-medium">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus nisl vitae magna <strong>pulvinar laoreet.</strong> Nullam erat ipsum, mattis nec mollis ac, accumsan a enim. Nunc at euismod arcu. Aliquam ullamcorper eros justo, <strong>vel mollis neque facilisis vel</strong>. Proin augue tortor, condimentum id sapien a, tempus venenatis massa. Aliquam egestas eget diam sed sagittis. Vivamus consectetur purus <strong>vel felis molestie sollicitudin</strong>. Vivamus sit amet enim nisl. Cras vitae varius metus, a hendrerit ex. Sed in mi dolor. Proin pretium nibh non volutpat efficitur.
                        </p>
                    </div>
        
                    <!-- Image -->
                    <div class="section-about__image-wrapper">
                        <figure class="section-about__figure">
                            {# <img src="" alt="" class="section-about__image"> #}
                        </figure>
                    </div>
                </div>
        
                <!-- Bloc mission / vision / value -->
                <div class="section-about__features">
                    <div class="section-about__feature icon-box__container">
                        <div class="section-about__feature-icon">
                                <twig:IconBox 
                                    svg='<svg 
                                    width="30" 
                                    viewBox="0 0 30 35" 
                                    fill="none" 
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="icon-box__svg"
                                >
                                    <path d="M20 30L10 26.5L2.25 29.5C1.69444 29.7222 1.18056 29.66 0.708333 29.3133C0.236111 28.9667 0 28.5011 0 27.9167V4.58333C0 4.22222 0.104444 3.90278 0.313333 3.625C0.522222 3.34722 0.806667 3.13889 1.16667 3L10 0L20 3.5L27.75 0.5C28.3056 0.277778 28.8194 0.340556 29.2917 0.688334C29.7639 1.03611 30 1.50111 30 2.08333V25.4167C30 25.7778 29.8961 26.0972 29.6883 26.375C29.4806 26.6528 29.1956 26.8611 28.8333 27L20 30ZM18.3333 25.9167V6.41667L11.6667 4.08333V23.5833L18.3333 25.9167ZM21.6667 25.9167L26.6667 24.25V4.5L21.6667 6.41667V25.9167ZM3.33333 25.5L8.33333 23.5833V4.08333L3.33333 5.75V25.5Z" fill="#D2D2CE"/>
                                </svg>'
                                />
                        </div>
                        <div class="section-about__feature-text">
                            <h6 class="section-about__feature-title icon-box__link">Our mission</h6>
                            <p class="section-about__feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="section-about__feature icon-box__container">
                        <div class="section-about__feature-icon">
                            <twig:IconBox 
                            svg='<svg 
                            width="30" 
                            viewBox="0 0 30 35" 
                            fill="none" 
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon-box__svg"
                        >
                            
                        </svg>'
                        />
                        </div>
                        <div class="section-about__feature-text">
                            <h6 class="section-about__feature-title icon-box__link">Our vision</h6>
                            <p class="section-about__feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="section-about__feature icon-box__container">
                        <div class="section-about__feature-icon">
                            <twig:IconBox 
                            svg='<svg 
                            width="30" 
                            viewBox="0 0 30 35" 
                            fill="none" 
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon-box__svg"
                        >
                            <path d="M37.2233 2.79957C33.5204 -0.933191 27.5178 -0.933191 23.8156 2.79957L21.3167 5.31908L25.1535 9.18832C25.4785 9.51603 25.7364 9.90508 25.9123 10.3333C26.0882 10.7614 26.1787 11.2204 26.1787 11.6838C26.1787 12.1473 26.0882 12.6062 25.9123 13.0344C25.7364 13.4626 25.4785 13.8516 25.1535 14.1793C24.8285 14.507 24.4426 14.767 24.0179 14.9444C23.5932 15.1217 23.1381 15.213 22.6784 15.213C22.2187 15.213 21.7636 15.1217 21.3389 14.9444C20.9142 14.767 20.5284 14.507 20.2033 14.1793L16.7651 10.7128C16.6605 10.6074 16.5187 10.5483 16.3709 10.5483C16.2231 10.5483 16.0813 10.6074 15.9768 10.7128L7.64785 19.1104C7.37986 19.438 7.24707 19.857 7.27696 20.2807C7.30685 20.7043 7.49714 21.1001 7.80843 21.3862C8.11973 21.6724 8.5282 21.8269 8.94934 21.8178C9.37047 21.8087 9.77202 21.6367 10.0709 21.3374L16.8982 14.4538C17.0725 14.2782 17.3089 14.1795 17.5553 14.1795C17.8017 14.1795 18.0381 14.2782 18.2124 14.4538L18.2734 14.5145C18.3597 14.6016 18.4282 14.7049 18.475 14.8186C18.5217 14.9324 18.5457 15.0543 18.5457 15.1774C18.5457 15.3005 18.5217 15.4224 18.475 15.5361C18.4282 15.6499 18.3597 15.7532 18.2734 15.8403L11.446 22.7239C11.1383 23.0341 10.9655 23.4549 10.9655 23.8937C10.9655 24.3324 11.1383 24.7532 11.446 25.0634C11.7537 25.3737 12.1711 25.548 12.6062 25.548C13.0414 25.548 13.4587 25.3737 13.7664 25.0634L20.5938 18.1798C20.6801 18.0927 20.7826 18.0237 20.8954 17.9765C21.0082 17.9294 21.1291 17.9052 21.2512 17.9052C21.3733 17.9052 21.4942 17.9294 21.607 17.9765C21.7198 18.0237 21.8223 18.0927 21.9087 18.1798L21.9682 18.2413C22.1423 18.417 22.2402 18.6553 22.2402 18.9038C22.2402 19.1522 22.1423 19.3905 21.9682 19.5663L15.1416 26.4499C14.8339 26.7602 14.661 27.1809 14.661 27.6197C14.661 28.0584 14.8339 28.4792 15.1416 28.7895C15.4493 29.0997 15.8666 29.274 16.3018 29.274C16.7369 29.274 17.1543 29.0997 17.462 28.7895L24.2893 21.9058C24.3756 21.8187 24.4781 21.7497 24.5909 21.7026C24.7037 21.6554 24.8247 21.6312 24.9468 21.6312C25.0689 21.6312 25.1898 21.6554 25.3026 21.7026C25.4154 21.7497 25.5179 21.8187 25.6042 21.9058L25.6637 21.9673C25.8379 22.1431 25.9357 22.3813 25.9357 22.6298C25.9357 22.8782 25.8379 23.1165 25.6637 23.2923L18.8371 30.1759C18.5294 30.4862 18.3565 30.9069 18.3565 31.3457C18.3565 31.7844 18.5294 32.2052 18.8371 32.5155C19.1448 32.8257 19.5621 33 19.9973 33C20.4325 33 20.8498 32.8257 21.1575 32.5155L35.5633 17.9908L35.5767 17.9781L35.5805 17.9736L37.2233 16.3172C40.9256 12.5844 40.9256 6.53234 37.2233 2.79957Z" fill="#F2F2F2"/>
                            <path d="M23.8386 12.8543C23.6866 13.0085 23.5058 13.1309 23.3067 13.2143C23.1076 13.2978 22.8941 13.3408 22.6784 13.3408C22.4628 13.3408 22.2493 13.2978 22.0501 13.2143C21.851 13.1309 21.6703 13.0085 21.5182 12.8543L18.08 9.38702C17.8329 9.13734 17.5349 8.94489 17.2066 8.82304C16.8784 8.70119 16.5277 8.65286 16.1791 8.68141C15.6059 8.72686 15.0678 8.97739 14.6619 9.38777L5.67402 18.4482C5.56943 18.5536 5.42766 18.6127 5.27985 18.6127C5.13203 18.6127 4.99026 18.5536 4.88568 18.4482L2.77723 16.3224C-0.925744 12.5889 -0.925744 6.53534 2.77723 2.80182C6.48095 -0.932442 12.485 -0.932442 16.188 2.80182L17.6925 4.31877L17.7126 4.33827L17.749 4.37351L23.8386 10.5133C23.991 10.6669 24.1119 10.8493 24.1943 11.05C24.2768 11.2507 24.3192 11.4658 24.3192 11.6831C24.3192 11.9003 24.2768 12.1154 24.1943 12.3162C24.1119 12.5169 23.991 12.7007 23.8386 12.8543Z" fill="#D2D2CE"/>
                        </svg>'
                        />
                        </div>
                        <div class="section-about__feature-text">
                            <h6 class="section-about__feature-title icon-box__link">Our value</h6>
                            <p class="section-about__feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                
            </div>
    
        </div>

    </section>

    <section class="section section-services" aria-labelledby="services-title">
        <div class="scroll-text-section">
            <div class="bg-text--scroll bg-text--services" aria-hidden="true">
                <div class="bg-text__track">
                    <span>SERVICES</span>
                    <span>SERVICES</span>
                    <span>SERVICES</span>
                    <span>SERVICES</span>
                </div>
            </div>

            <div class="section-services__content scroll-text-section__content">

                <twig:SectionIntro
                title="Our services"
                subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                buttonText="Discover more"
                linkBtn="#"
                />
                
                <div class="section-services__list">
                    <!-- item service -->
                    <twig:ServiceBox 
                        title="Wedding session"
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        link="#"
                        imageSrc="media/images/concert_photography.jpg"
                    />
                    <twig:ServiceBox 
                        title="Model Photoshoot"
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        link="#"
                        imageSrc="media/images/concert_photography.jpg"
                    />
                    <twig:ServiceBox 
                        title="Event photography"
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        link="#"
                        imageSrc="media/images/concert_photography.jpg"
                    />
                    <twig:ServiceBox 
                        title="Lorem ipsum"
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        link="#"
                        imageSrc="media/images/concert_photography.jpg"
                    />
                </div>
    
            </div>
        </div>
    </section>

    <section class="section section-dark section-photographs" aria-labelledby="photographs-title">

        <div class="scroll-text-section">
            <div class="bg-text--scroll bg-text--light bg-text--photographs" aria-hidden="true">
                <div class="bg-text__track">
                    <span>PHOTOGRAPHS</span>
                    <span>PHOTOGRAPHS</span>
                    <span>PHOTOGRAPHS</span>
                    <span>PHOTOGRAPHS</span>
                </div>
            </div>

            <twig:SectionIntro
            title="Our photographs"
            subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            buttonText="Discover more"
            linkBtn="#"
            variant="light"
            />

            <div class="section-photographs__content scroll-text-section__content" >
                <div class="section-photographs__list">
                    <twig:PhotographBox 
                    service="events"
                    name="Name Name"
                    link="#"
                    imageSrc="media/images/concert_photography.jpg"
                    />
                    <twig:PhotographBox 
                    service="events"
                    name="Name Name"
                    link="#"
                    imageSrc="media/images/concert_photography.jpg"
                    />
                    <twig:PhotographBox 
                    service="events"
                    name="Name Name"
                    link="#"
                    imageSrc="media/images/concert_photography.jpg"
                    />
                </div>
            </div>
        </div>

    </section>


    <section class="section section-works " aria-labelledby="works-title">

        <div class="scroll-text-section">
            <div class="bg-text--scroll  bg-text--works" aria-hidden="true">
                <div class="bg-text__track">
                    <span>LATEST WORKS</span>
                    <span>LATEST WORKS</span>
                    <span>LATEST WORKS</span>
                    <span>LATEST WORKS</span>
                </div>
            </div>

            <twig:SectionIntro
            title="Our lastest works"
            subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            buttonText="Explore more"
            linkBtn="#"
            />

            <div class="section-works__content scroll-text-section__content">

                <div class="section-works__gallery">
                    <figure class="gallery__item gallery__item--landscape">
                        <img class="gallery__image  u-img-cover" src="media/images/concert_photography.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                    <figure class="gallery__item gallery__item--portrait">
                        <img class="gallery__image  u-img-cover" src="media/images/streetart.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                    <figure class="gallery__item gallery__item--portrait">
                        <img class="gallery__image  u-img-cover" src="media/images/model.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                    <figure class="gallery__item gallery__item--portrait">
                        <img class="gallery__image  u-img-cover" src="media/images/musique.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                  
                    <figure class="gallery__item gallery__item--portrait">
                        <img class="gallery__image  u-img-cover" src="media/images/musique.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                    <figure class="gallery__item gallery__item--portrait">
                        <img class="gallery__image  u-img-cover" src="media/images/streetart.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                    <figure class="gallery__item gallery__item--portrait">
                        <img class="gallery__image  u-img-cover" src="media/images/model.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>
                    <figure class="gallery__item gallery__item--landscape">
                        <img class=" gallery__image u-img-cover" src="media/images/wedding.jpg" alt="">
                        <div class="gallery__detail">
                            <a href="" class="gallery__detail-link">
                                <div class="gallery__detail-content">
                                  <span class="gallery__name">NAME NAME</span>
                                  <span class="separator" aria-hidden="true"></span>
                                  <span class="gallery__service">Events</span>
                                </div>
                              </a>
                        </div>
                    </figure>

                </div>


            </div>
        </div>

    </section>

    <section class="section section-testimonials " aria-labelledby="testimonials-title">
        <div class="scroll-text-section">
            <div class="bg-text--scroll bg-text--testimonials" aria-hidden="true">
                <div class="bg-text__track">
                    <span>TESTIMONIALS</span>
                    <span>TESTIMONIALS</span>
                    <span>TESTIMONIALS</span>
                    <span>TESTIMONIALS</span>
                </div>
            </div>
    
            <div class="section-testimonials__content scroll-text-section__content section-centered">

                <twig:SectionIntro
                title="Testimonials"
                subtitle="BLorem ipsum dolor sit amet, consectetur adipiscing elit."
                buttonText="Discover more"
                linkBtn="#"
                />

                <div class="section-testimonials__container">
                    <twig:TestimonialBox
                    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu arcu sapien. Vivamus mauris neque, venenatis quis metus quis, varius convallis leo. Ut vulputate mauris mi, non sodales nisl dictum ut. Suspendisse tincidunt lectus est, eget rhoncus justo tempor non. Vivamus eget facilisis orci, quis pharetra nunc. Nulla facilisi.placerat nisl.Praesent eu arcu sapien. Vivamus mauris neque, venenatis quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu arcu sapien."
                    subtitle="Bquis pharetra nunc. "
                    username="Username Name"
                    />

                    <twig:TestimonialBox
                    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu arcu sapien.mauris neque, venenatis quis metus quis, varius convallis leo. Ut vulputate mauris mi, non sodales nisl dictum ut. Suspendisse tincidunt lectus est, eget rhoncus justo tempor non. Vivamus eget facilisis orci, quis pharetra nunc. Nulla facilisi. Donec at viverra tellus, ac placerat nisl."
                    subtitle="Bquis pharetra nunc"
                    username="Username Name"
                    />
                </div>
            </div>
        </div>
    </section>




    {# <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
        Se connecter avec Google
    </a>

    {% if app.user %}
        <p><a href="{{ path('app_profile') }}">Profil</a></p>
        <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
    {% else %}
        <p><a href="{{ path('app_login') }}">Se connecter</a></p>
        <p><a href="{{ path('app_register') }}">S'inscrire</a></p>
    {% endif %}
    <p><a href="{{ path('blog_index') }}">BLOG</a></p> #}

    {% include 'layout/contact.html.twig' %}
    <div class="u-divider-medium"></div>
    {% include 'layout/subscribe.html.twig' %}

{% endblock %}