<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil ! 🚀</h1>
    {# <p><a href="{{ path('app_login') }}">Se connecter</a></p>
    <p><a href="{{ path('app_register') }}">S'inscrire</a></p> #}
    

    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
        Se connecter avec Google
    </a>

    {# <p><a href="{{ path('app_profile') }}"> Profil</a></p> #}

    {% if app.user %}
        <p><a href="{{ path('app_profile') }}">Profil</a></p>
        <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
    {% else %}
        <p><a href="{{ path('app_login') }}">Se connecter</a></p>
        <p><a href="{{ path('app_register') }}">S'inscrire</a></p>
    {% endif %}

</p>
</body>
</html>
