{% extends 'base.html.twig' %}

{% block meta_description %}Discover {{ photographer.firstName }} {{ photographer.lastName }}, photographer at [Agency Name]. Explore their creative vision, specialties, background, and featured photography work. {% endblock %}

{% block title %}{{ photographer.firstName }} {{ photographer.lastName }} | Photographer at MOSAIC {% endblock %}


{% block body %}


<twig:Banner
    title="{{ 'Meet the artist - ' ~ photographer.firstName ~ ' ' ~ photographer.lastName }}"
    subtitle="The Talent Behind the Camera."
    :breadcrumbs="[
        { label: 'Home', url: path('home'), type: 'link' },
        { label: 'separator', type: 'separator' },
        { label: 'Team', url: path('team_index'), type: 'link' },
        { label: 'separator', type: 'separator' },
        { label: photographer.firstName ~ ' ' ~ photographer.lastName, type: 'current' }
    ]"
    id="portfolio-title"
/>


<section class="page portfolio-page porfolio" aria-labelledby="porfolio-title">
  <div class="portfolio-page__container section-centered">
    <div class="portfolio-page__content">
      <!-- SECTION: Photographer Info -->
      <section class="photographer-info">
        <div class="photographer-info__header">

          {% if bannerImage %}
              <figure class="photographer-info__photo">
                <img
                  src="/uploads/{{bannerImage.path}}"
                  alt="{{bannerImage.altText}}"
                  class="photographer-info__photo-img u-img-cover"
                />
            </figure>
          {% else %}
              <figure class="photographer-info__photo">
                <img
                  src="/uploads/media/camera.webp"
                  alt="camera photo"
                  class="photographer-info__photo-img u-img-cover"
                />
            </figure>
          {% endif %}

          <div class="photographer-info__quote">
            <span class="quote-icon-left">
              {% include 'components/icons/quote.html.twig' %}
            </span>
            <h5>
              {{ photographer.profile.bio.quote}}
            </h5>
              <span class="quote-icon-right">
              {% include 'components/icons/quote.html.twig' %}
            </span>
          </div>
        </div>

        <div class="photographer-info__details-wrapper">
          <div class="photographer-info__details">
            <div class="photographer-info__stats">
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/marker.html.twig' %} 
              </span>
                <p class="photographer-info__stat-text">{{photographer.profile.info.location}}</p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/chat.html.twig' %}
                  </span
                >
                <p class="photographer-info__stat-text">{{ photographer.languagesNames|join(', ') }}</p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/camera.html.twig' %}
                  </span>
                <p class="photographer-info__stat-text">
                  {{ photographer.specialityNames|join(', ') }}
                </p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/star.html.twig' %}
                </span>
                <p class="photographer-info__stat-text">
                  {{  photographer.profile.stats.experience_years }} years of experience - {{ photographer.profile.stats.shootings_count }} shootings
                </p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/lens.html.twig' %}
                </span>
                <p class="photographer-info__stat-text">
                  {{photographer.profile.equipment|join(', ')}}
                </p>
              </div>

              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/website2.html.twig' %}
                </span>
               <p class="photographer-info__stat-text">
                  <a
                      href="https://{{ photographer.profile.links.website }}"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                      aria-label="Visit {{ photographer.firstName }} {{ photographer.lastName }}'s website (opens in a new tab)"
                  >
                      {{ photographer.profile.links.website }}
                  </a>
              </p>
              </div>

              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/mail2.html.twig' %}
                  </span
                </span
                <p class="photographer-info__stat-text">
                  <a
                      href="mailto:{{ photographer.email }}"
                      aria-label="Send an email to {{ photographer.firstName }} {{ photographer.lastName }}"
                  >
                      {{ photographer.email }}
                  </a>
              </p>
              </div>
            </div>

            {% set socialIcons = {
                instagram: 'components/icons/instagram2.html.twig',
                behance: 'components/icons/behance.html.twig',
                tiktok: 'components/icons/tiktok.html.twig',
                youtube: 'components/icons/youtube.html.twig',
                twitter: 'components/icons/twitter2.html.twig',
                facebook: 'components/icons/facebook.html.twig'
            } %}

            {% if photographer.profile.links.socials is not empty %}
                <div class="photographer-info__social">
                    <h4 class="photographer-info__social-title">FOLLOW ME</h4>

                    <div class="photographer-info__social-links">
                        {% for network, icon in socialIcons %}
                            {% if attribute(photographer.profile.links.socials, network) is defined
                                and attribute(photographer.profile.links.socials, network) %}
                                <a
                                    href="https://{{ network == 'facebook' ? 'facebook.com/' : network ~ '.com/' }}{{ attribute(photographer.profile.links.socials, network)|trim('@') }}"
                                    class="photographer-info__social-link"
                                    aria-label="{{ network|capitalize }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    {% include icon %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
          </div>

          <div class="photographer-info__about-actions">
            <div class="photographer-info__about">
              <h2 class="photographer-info__about-title">ABOUT ME</h2>
              <p class="photographer-info__about-text">
                {{ photographer.profile.bio.long|raw}}
              </p>
            </div>

            <div class="photographer-info__actions">
            {% if not is_granted('ROLE_PHOTOGRAPHER') %}
                {% if app.user and app.user.id != photographer.id %}
                    <a href="{{ path('chat_start', {'id': photographer.id}) }}"
                      class="photographer-info__button button button--accent button--medium"
                      aria-label="Send a message to {{ photographer.firstName }} {{ photographer.lastName }}">
                      SEND ME A MESSAGE
                    </a>
                {% else %}
                <div class="photographer-info__actions-disabled" aria-hidden="true">
                  <button disabled class="photographer-info__button button  button--medium button--disabled" 
                      aria-label="Send a message to {{ photographer.firstName }} {{ photographer.lastName }}">
                    SEND ME A MESSAGE
                  </button>
                  <p>Please <a href="{{ path('app_login') }}">log in</a> or <a href="{{ path('app_register') }}">create an account</a> to contact this photographer</p>
                </div>
                {% endif %}
            {% endif %}
              <button
                 id="services-modal-trigger"
                 class="photographer-info__button button button--accent button--medium"
                 aria-label="Discover more details about {{ photographer.firstName }} {{ photographer.lastName }}'s services">
                SEE MY SERVICES
              </button>
              <a href="{{path('photographer_portfolio', {slug: photographer.slug})}}"
                 class="photographer-info__button button button--black button--medium"
                 aria-label="Discover {{ photographer.firstName }} {{ photographer.lastName }}'s photography work">
                DISCOVER MY WORK
              </a> 
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION: Gallery -->
      {% if featuredMedias is not empty %}
      <section class="photographer-gallery gallery-glightbox-isotope">
        {# <h2 class="photographer-gallery__title">GALLERY</h2> #}
        <div class="gallery">
  
          <div class="gallery__filters">
            <button class="js-filter-button active" data-filter="*">All</button>
  
            {% for series in photographer.gallerySeries %}
                {% set seriesClass = series.name|lower|replace({' ': '-', '_': '-'})|trim %}
                <button class="js-filter-button" data-filter=".{{ seriesClass }}">
                    {{ series.name }}
                </button>
            {% endfor %}
          </div>

        <div class="gallery__grid js-gallery-grid">
  
           {% for media in featuredMedias %}
              {% set seriesClass = media.gallerySeries ? media.gallerySeries.name|lower|replace({' ': '-', '_': '-'})|trim : '' %}
              <div class="gallery__item js-gallery-item {{ seriesClass }} {{ loop.index > 9 ? 'is-hidden' }}">
                  <a href="{{ asset('uploads/' ~ media.path) }}"
                    class="gallery__link js-gallery-lightbox"
                    data-gallery="portfolio">
                      <picture>
                          <source 
                              media="(min-width: 1024px)" 
                              srcset="{{ media.path | imagine_filter('gallery_thumb_desktop') }} 1x"
                          >
                          <source 
                              media="(max-width: 1023px)" 
                              srcset="{{ media.path | imagine_filter('gallery_thumb_mobile') }} 1x"
                          >
                          <img 
                              src="{{ media.path | imagine_filter('gallery_thumb_desktop') }}" 
                              alt="{{ media.altText ?? 'photography' }}" 
                              class="gallery__image u-img-cover"
                              loading="lazy"
                          >
                      </picture>
                      <div class="gallery__overlay">
                        {% if media.gallerySeries %}
                          <span class="gallery__overlay-serie">{{ media.gallerySeries.name }}</span>
                        {% endif %}
                      </div>
                  </a>
              </div>
          {% endfor %}
          
        </div>

        <div class="photographer-gallery__actions">
          <button class="gallery__more js-gallery-more button button--accent button--medium">SEE MORE</button>
        </div>
      </div>

      </section>
      {% endif %}
  
      <!-- SECTION: Testimonials -->
      {% if testimonials is defined and testimonials is not empty %}
      <section class="photographer-testimonials">
        <h2 class="photographer-testimonials__title">TESTIMONIALS</h2>
        <p></p>
      </section>
      {% endif %}
    </div>
  </div>
</section>

<!-- Services Modal -->
<div id="services-modal" class="services-modal hidden">
  <div class="services-modal__content">
    <!-- Close button -->
    <button id="services-modal-close" class="services-modal__close">✕</button>
    
    <p class="services_modal__note"><b>Note:</b> These packages serve as a starting point and can be tailored to fit your specific needs. If you have unique requirements or would like a custom offer, feel free to send me a message so we can discuss your project in detail.</p>
    
    <div class="services-modal__grid">
      {% for plan in pricingPlans %}
        {% if plan.isActive() %}
          <div class="services-modal__plan">
            <div class="services-modal__top">
              <h3 class="services-modal__plan-title">{{ plan.planType.value }}</h3>
              <p class="services-modal__plan-price">{{ plan.price|number_format(plan.price is defined and plan.price is not null and plan.price == plan.price|round(0, 'floor') ? 0 : 2, '.', ' ') }}€</p>
            </div>

            <p class="services-modal__plan-description">{{ plan.description }}</p>

            {% if plan.whatIncluded %}
              <div class="services-modal__plan-included">
                <p class="services-modal__plan-included-label">What's Included:</p>
                <ul class="services-modal__plan-included-list">
                  {% for item in plan.whatIncluded %}
                    <li class="services-modal__plan-included-item">{% include 'components/icons/check.html.twig' %}{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if plan.additionnalInfos %}
              <div class="services-modal__plan-additional">
                <p class="services-modal__plan-additional-label">Additional Information:</p>
                <ul class="services-modal__plan-additional-list">
                  {% for item in plan.additionnalInfos %}
                    <li class="services-modal__plan-additional-item">{% include 'components/icons/check.html.twig' %} {{ item }}</li>
                  {% endfor %}
                 
                </ul>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{# 6ct34p3)Ap24lm #}