{% extends 'base.html.twig' %}

{% block title %}{{photographer.firstName}} - {{photographer.lastName}}{% endblock %}


{% block body %}

<twig:Banner
title="Portfolio"
subtitle="{{photographer.firstName}} - {{photographer.lastName}}"
/>

<section class="page portfolio-page">
  <div class="portfolio-page__container section-centered">
    <div class="portfolio-page__content">
      <!-- SECTION: Photographer Info -->
      <section class="photographer-info">
        <div class="photographer-info__header">
          <figure class="photographer-info__photo">
              <img
                src="/uploads/{{bannerImage.path}}"
                alt="{{bannerImage.altText}}"
                class="photographer-info__photo-img u-img-cover"
              />
          </figure>
          <div class="photographer-info__quote">
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              non dolorem totam atque.
            </h5>
          </div>
        </div>

        <div class="photographer-info__details-wrapper">
          <div class="photographer-info__details">
            <div class="photographer-info__stats">
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0.03125C15.1734 0.0347947 18.2152 1.27484 20.459 3.47852C22.7027 5.68221 23.9652 8.66988 23.9688 11.7861C23.9687 15.9815 21.9888 20.4319 18.249 24.6562C16.5697 26.5642 14.6794 28.2827 12.6133 29.7803C12.4353 29.9027 12.2233 29.9687 12.0059 29.9688C11.7882 29.9688 11.5747 29.9029 11.3965 29.7803C9.32681 28.2834 7.43346 26.5646 5.75098 24.6562C2.00574 20.4319 0.0313445 15.9815 0.03125 11.7861L0.046875 11.2031C0.196736 8.29915 1.43754 5.54445 3.54102 3.47852C5.64443 1.41267 8.44919 0.193179 11.4062 0.0458984L12 0.03125ZM12 2.11133C9.38795 2.11133 6.88232 3.13111 5.03516 4.94531C3.18823 6.75949 2.15039 9.22038 2.15039 11.7861C2.15049 15.6298 4.04608 19.1525 6.2207 21.9297C8.39553 24.7071 10.8523 26.7428 11.9805 27.6143L12 27.6289L12.0195 27.6143C13.1477 26.7428 15.6045 24.7065 17.7793 21.9287C19.9539 19.1512 21.8495 15.6285 21.8496 11.7861C21.8496 9.22038 20.8118 6.75949 18.9648 4.94531C17.1177 3.13111 14.6121 2.11133 12 2.11133ZM12 6.45996C13.4384 6.45996 14.818 7.02084 15.835 8.01953C16.852 9.01838 17.4229 10.3738 17.4229 11.7861C17.4228 12.8391 17.1054 13.8685 16.5098 14.7441C15.9139 15.62 15.0662 16.3029 14.0752 16.7061C13.0842 17.1091 11.9934 17.2153 10.9414 17.0098C9.88947 16.8042 8.92336 16.2965 8.16504 15.5518C7.40671 14.807 6.88993 13.8581 6.68066 12.8252C6.47147 11.7923 6.57893 10.7211 6.98926 9.74805C7.39963 8.775 8.09457 7.9427 8.98633 7.35742C9.8782 6.77213 10.9272 6.45996 12 6.45996ZM13.2646 8.78711C12.661 8.54153 11.9963 8.47735 11.3555 8.60254C10.7148 8.72771 10.1261 9.03654 9.66406 9.49023C9.20201 9.94404 8.88733 10.5228 8.75977 11.1523C8.63224 11.782 8.69712 12.4352 8.94727 13.0283C9.19741 13.6214 9.62175 14.1278 10.165 14.4844C10.7083 14.8408 11.3467 15.0312 12 15.0312C12.876 15.0312 13.7163 14.6896 14.3359 14.0811C14.9555 13.4725 15.3036 12.647 15.3037 11.7861C15.3037 11.1441 15.1102 10.5162 14.7471 9.98242C14.384 9.44879 13.8682 9.03271 13.2646 8.78711Z" fill="#2F2F2F" stroke="#2F2F2F" stroke-width="0.0625"/>
                  </svg>

              </span>
                <p class="photographer-info__stat-text">Grand-Est</p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon"
                  ><svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.90016 8.64447H19.6004M7.90016 13.9074H15.0503M0.75 11.276C0.75 10.2628 0.7669 9.27208 0.802001 8.31553C0.909903 5.19328 0.964505 3.63149 2.21903 2.35127C3.47356 1.07237 5.06089 1.00395 8.23296 0.865801C10.0711 0.7877 11.9106 0.749096 13.7503 0.750016C15.6743 0.750016 17.5269 0.789488 19.2676 0.865801C22.4397 1.00395 24.0257 1.07237 25.2815 2.35259C26.5361 3.63149 26.5907 5.19328 26.6986 8.31553C26.7671 10.2885 26.7671 12.2634 26.6986 14.2364C26.5907 17.3586 26.5361 18.9204 25.2815 20.2006C24.027 21.4795 22.4397 21.5479 19.2676 21.6861C18.3125 21.7273 17.3267 21.758 16.31 21.7782C15.348 21.7966 14.8657 21.8045 14.4419 21.969C14.0181 22.1335 13.6619 22.44 12.9495 23.0584L10.1167 25.5189C9.97884 25.6384 9.80997 25.7155 9.63015 25.7408C9.45033 25.7662 9.26709 25.7388 9.10218 25.6619C8.93727 25.585 8.79761 25.4619 8.69976 25.3071C8.60192 25.1523 8.55 24.9724 8.55017 24.7886V21.6993L8.23296 21.6861C5.06089 21.5479 3.47486 21.4795 2.21903 20.1993C0.964505 18.9204 0.909903 17.3586 0.802001 14.2364C0.767526 13.2499 0.750189 12.263 0.75 11.276Z" stroke="#2F2F2F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg></span
                >
                <p class="photographer-info__stat-text">English, Spanish</p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="path-1-inside-1_258_913" fill="white">
                  <path d="M16.3721 7.31785C16.7406 7.69043 17.0178 8.14451 17.1816 8.64395L17.711 10.2831C17.7547 10.41 17.8366 10.5201 17.9452 10.5979C18.0539 10.6758 18.1839 10.7176 18.3172 10.7176C18.4506 10.7176 18.5806 10.6758 18.6893 10.5979C18.7979 10.5201 18.8798 10.41 18.9235 10.2831L19.4529 8.64395C19.6179 8.14585 19.8958 7.69331 20.2647 7.32221C20.6335 6.95112 21.083 6.67166 21.5777 6.506L23.2062 5.9727C23.3312 5.92787 23.4394 5.84517 23.5159 5.73594C23.5924 5.62671 23.6335 5.4963 23.6335 5.36262C23.6335 5.22895 23.5924 5.09854 23.5159 4.98931C23.4394 4.88008 23.3312 4.79738 23.2062 4.75255L23.1731 4.74421L21.5446 4.21092C21.0499 4.04526 20.6004 3.7658 20.2316 3.3947C19.8627 3.0236 19.5848 2.57107 19.4198 2.07296L18.8927 0.433788C18.8487 0.307028 18.7667 0.197185 18.658 0.119467C18.5493 0.0417489 18.4192 0 18.2859 0C18.1526 0 18.0226 0.0417489 17.9139 0.119467C17.8051 0.197185 17.7231 0.307028 17.6791 0.433788L17.1497 2.07296L17.1367 2.11344C16.9711 2.59912 16.6978 3.04043 16.3376 3.40386C15.9775 3.76729 15.5398 4.04329 15.0579 4.21092L13.4295 4.74421C13.3045 4.78904 13.1963 4.87175 13.1198 4.98098C13.0433 5.09021 13.0022 5.22061 13.0022 5.35429C13.0022 5.48797 13.0433 5.61837 13.1198 5.72761C13.1963 5.83684 13.3045 5.91954 13.4295 5.96437L15.0579 6.49767C15.5543 6.66432 16.0022 6.94526 16.3721 7.31785ZM24.8382 11.864L25.7434 12.1592L25.7611 12.164C25.8132 12.1825 25.8604 12.2129 25.8989 12.2529C25.9374 12.2928 25.9662 12.3412 25.983 12.3943C25.9998 12.4473 26.0042 12.5036 25.9959 12.5586C25.9875 12.6136 25.9666 12.666 25.9348 12.7115C25.8919 12.7724 25.8312 12.8182 25.7611 12.8425L24.8571 13.1377C24.582 13.2299 24.3319 13.3853 24.1268 13.5918C23.9217 13.7982 23.7671 14.0499 23.6753 14.3269L23.3822 15.2364C23.3578 15.3067 23.3122 15.3676 23.2519 15.4107C23.1916 15.4538 23.1194 15.477 23.0454 15.477C22.9715 15.477 22.8993 15.4538 22.839 15.4107C22.7787 15.3676 22.7331 15.3067 22.7086 15.2364L22.4144 14.3269C22.3232 14.0493 22.169 13.797 21.9641 13.59C21.7591 13.3829 21.5091 13.2268 21.2338 13.1341L20.3298 12.8377C20.2776 12.8192 20.2305 12.7887 20.192 12.7488C20.1535 12.7088 20.1247 12.6604 20.1079 12.6074C20.0911 12.5544 20.0866 12.4981 20.095 12.4431C20.1034 12.388 20.1243 12.3357 20.156 12.2901C20.1989 12.2293 20.2597 12.1835 20.3298 12.1592L21.2338 11.864C21.5054 11.7693 21.7517 11.6127 21.9534 11.4064C22.1551 11.2002 22.3068 10.9498 22.3967 10.6748L22.6909 9.76531C22.7154 9.69499 22.7609 9.63407 22.8213 9.59097C22.8816 9.54787 22.9537 9.52472 23.0277 9.52472C23.1017 9.52472 23.1738 9.54787 23.2342 9.59097C23.2945 9.63407 23.34 9.69499 23.3645 9.76531L23.6588 10.6748C23.7505 10.9517 23.9049 11.2033 24.1098 11.4097C24.3147 11.6161 24.5633 11.7716 24.8382 11.864ZM9.59823 4.76683H11.9133C12.0024 4.50293 12.1497 4.26279 12.3441 4.06445C12.5386 3.86611 12.7751 3.71473 13.036 3.62167L14.6798 3.08242L14.7389 3.06218C14.5274 3.0092 14.3104 2.98202 14.0925 2.98124H9.59823C9.14373 2.98136 8.69684 3.09883 8.30024 3.32245C7.90364 3.54606 7.57056 3.86834 7.3328 4.25853L6.29876 5.95366H3.84071C2.82209 5.95366 1.84519 6.36126 1.12492 7.0868C0.404645 7.81234 0 8.79638 0 9.82244V21.1312C0 22.1573 0.404645 23.1413 1.12492 23.8669C1.84519 24.5924 2.82209 25 3.84071 25H19.7944C20.2988 25 20.7982 24.8999 21.2642 24.7055C21.7302 24.5111 22.1536 24.2261 22.5102 23.8669C22.8669 23.5076 23.1498 23.0811 23.3428 22.6117C23.5358 22.1424 23.6351 21.6393 23.6351 21.1312V16.5458C23.1553 16.741 22.5834 16.6863 22.1556 16.3827C22.0465 16.3051 21.948 16.2134 21.8625 16.1101V21.1312C21.8625 21.6837 21.6446 22.2136 21.2568 22.6043C20.8689 22.9949 20.3429 23.2144 19.7944 23.2144H3.84071C3.29222 23.2144 2.7662 22.9949 2.37836 22.6043C1.99052 22.2136 1.77264 21.6837 1.77264 21.1312V9.82244C1.77264 8.67252 2.69913 7.73925 3.84071 7.73925H6.7951C6.94684 7.73937 7.09607 7.70025 7.2285 7.62563C7.36093 7.55101 7.47212 7.4434 7.55143 7.31309L8.84309 5.19299L8.9199 5.08586C9.00302 4.98605 9.1068 4.90577 9.22399 4.85066C9.34117 4.79555 9.4689 4.76694 9.59823 4.76683ZM17.1355 14.8816C17.1355 13.4609 16.5752 12.0984 15.5779 11.0938C14.5806 10.0892 13.228 9.52485 11.8176 9.52485C10.4072 9.52485 9.05454 10.0892 8.05724 11.0938C7.05994 12.0984 6.49966 13.4609 6.49966 14.8816C6.49966 16.3023 7.05994 17.6649 8.05724 18.6694C9.05454 19.674 10.4072 20.2384 11.8176 20.2384C13.228 20.2384 14.5806 19.674 15.5779 18.6694C16.5752 17.6649 17.1355 16.3023 17.1355 14.8816ZM8.2723 14.8816C8.2723 13.9345 8.64582 13.0261 9.31068 12.3564C9.97555 11.6867 10.8773 11.3104 11.8176 11.3104C12.7578 11.3104 13.6596 11.6867 14.3245 12.3564C14.9893 13.0261 15.3628 13.9345 15.3628 14.8816C15.3628 15.8288 14.9893 16.7371 14.3245 17.4068C13.6596 18.0766 12.7578 18.4528 11.8176 18.4528C10.8773 18.4528 9.97555 18.0766 9.31068 17.4068C8.64582 16.7371 8.2723 15.8288 8.2723 14.8816Z"/>
                  </mask>
                  <path d="M16.3721 7.31785C16.7406 7.69043 17.0178 8.14451 17.1816 8.64395L17.711 10.2831C17.7547 10.41 17.8366 10.5201 17.9452 10.5979C18.0539 10.6758 18.1839 10.7176 18.3172 10.7176C18.4506 10.7176 18.5806 10.6758 18.6893 10.5979C18.7979 10.5201 18.8798 10.41 18.9235 10.2831L19.4529 8.64395C19.6179 8.14585 19.8958 7.69331 20.2647 7.32221C20.6335 6.95112 21.083 6.67166 21.5777 6.506L23.2062 5.9727C23.3312 5.92787 23.4394 5.84517 23.5159 5.73594C23.5924 5.62671 23.6335 5.4963 23.6335 5.36262C23.6335 5.22895 23.5924 5.09854 23.5159 4.98931C23.4394 4.88008 23.3312 4.79738 23.2062 4.75255L23.1731 4.74421L21.5446 4.21092C21.0499 4.04526 20.6004 3.7658 20.2316 3.3947C19.8627 3.0236 19.5848 2.57107 19.4198 2.07296L18.8927 0.433788C18.8487 0.307028 18.7667 0.197185 18.658 0.119467C18.5493 0.0417489 18.4192 0 18.2859 0C18.1526 0 18.0226 0.0417489 17.9139 0.119467C17.8051 0.197185 17.7231 0.307028 17.6791 0.433788L17.1497 2.07296L17.1367 2.11344C16.9711 2.59912 16.6978 3.04043 16.3376 3.40386C15.9775 3.76729 15.5398 4.04329 15.0579 4.21092L13.4295 4.74421C13.3045 4.78904 13.1963 4.87175 13.1198 4.98098C13.0433 5.09021 13.0022 5.22061 13.0022 5.35429C13.0022 5.48797 13.0433 5.61837 13.1198 5.72761C13.1963 5.83684 13.3045 5.91954 13.4295 5.96437L15.0579 6.49767C15.5543 6.66432 16.0022 6.94526 16.3721 7.31785ZM24.8382 11.864L25.7434 12.1592L25.7611 12.164C25.8132 12.1825 25.8604 12.2129 25.8989 12.2529C25.9374 12.2928 25.9662 12.3412 25.983 12.3943C25.9998 12.4473 26.0042 12.5036 25.9959 12.5586C25.9875 12.6136 25.9666 12.666 25.9348 12.7115C25.8919 12.7724 25.8312 12.8182 25.7611 12.8425L24.8571 13.1377C24.582 13.2299 24.3319 13.3853 24.1268 13.5918C23.9217 13.7982 23.7671 14.0499 23.6753 14.3269L23.3822 15.2364C23.3578 15.3067 23.3122 15.3676 23.2519 15.4107C23.1916 15.4538 23.1194 15.477 23.0454 15.477C22.9715 15.477 22.8993 15.4538 22.839 15.4107C22.7787 15.3676 22.7331 15.3067 22.7086 15.2364L22.4144 14.3269C22.3232 14.0493 22.169 13.797 21.9641 13.59C21.7591 13.3829 21.5091 13.2268 21.2338 13.1341L20.3298 12.8377C20.2776 12.8192 20.2305 12.7887 20.192 12.7488C20.1535 12.7088 20.1247 12.6604 20.1079 12.6074C20.0911 12.5544 20.0866 12.4981 20.095 12.4431C20.1034 12.388 20.1243 12.3357 20.156 12.2901C20.1989 12.2293 20.2597 12.1835 20.3298 12.1592L21.2338 11.864C21.5054 11.7693 21.7517 11.6127 21.9534 11.4064C22.1551 11.2002 22.3068 10.9498 22.3967 10.6748L22.6909 9.76531C22.7154 9.69499 22.7609 9.63407 22.8213 9.59097C22.8816 9.54787 22.9537 9.52472 23.0277 9.52472C23.1017 9.52472 23.1738 9.54787 23.2342 9.59097C23.2945 9.63407 23.34 9.69499 23.3645 9.76531L23.6588 10.6748C23.7505 10.9517 23.9049 11.2033 24.1098 11.4097C24.3147 11.6161 24.5633 11.7716 24.8382 11.864ZM9.59823 4.76683H11.9133C12.0024 4.50293 12.1497 4.26279 12.3441 4.06445C12.5386 3.86611 12.7751 3.71473 13.036 3.62167L14.6798 3.08242L14.7389 3.06218C14.5274 3.0092 14.3104 2.98202 14.0925 2.98124H9.59823C9.14373 2.98136 8.69684 3.09883 8.30024 3.32245C7.90364 3.54606 7.57056 3.86834 7.3328 4.25853L6.29876 5.95366H3.84071C2.82209 5.95366 1.84519 6.36126 1.12492 7.0868C0.404645 7.81234 0 8.79638 0 9.82244V21.1312C0 22.1573 0.404645 23.1413 1.12492 23.8669C1.84519 24.5924 2.82209 25 3.84071 25H19.7944C20.2988 25 20.7982 24.8999 21.2642 24.7055C21.7302 24.5111 22.1536 24.2261 22.5102 23.8669C22.8669 23.5076 23.1498 23.0811 23.3428 22.6117C23.5358 22.1424 23.6351 21.6393 23.6351 21.1312V16.5458C23.1553 16.741 22.5834 16.6863 22.1556 16.3827C22.0465 16.3051 21.948 16.2134 21.8625 16.1101V21.1312C21.8625 21.6837 21.6446 22.2136 21.2568 22.6043C20.8689 22.9949 20.3429 23.2144 19.7944 23.2144H3.84071C3.29222 23.2144 2.7662 22.9949 2.37836 22.6043C1.99052 22.2136 1.77264 21.6837 1.77264 21.1312V9.82244C1.77264 8.67252 2.69913 7.73925 3.84071 7.73925H6.7951C6.94684 7.73937 7.09607 7.70025 7.2285 7.62563C7.36093 7.55101 7.47212 7.4434 7.55143 7.31309L8.84309 5.19299L8.9199 5.08586C9.00302 4.98605 9.1068 4.90577 9.22399 4.85066C9.34117 4.79555 9.4689 4.76694 9.59823 4.76683ZM17.1355 14.8816C17.1355 13.4609 16.5752 12.0984 15.5779 11.0938C14.5806 10.0892 13.228 9.52485 11.8176 9.52485C10.4072 9.52485 9.05454 10.0892 8.05724 11.0938C7.05994 12.0984 6.49966 13.4609 6.49966 14.8816C6.49966 16.3023 7.05994 17.6649 8.05724 18.6694C9.05454 19.674 10.4072 20.2384 11.8176 20.2384C13.228 20.2384 14.5806 19.674 15.5779 18.6694C16.5752 17.6649 17.1355 16.3023 17.1355 14.8816ZM8.2723 14.8816C8.2723 13.9345 8.64582 13.0261 9.31068 12.3564C9.97555 11.6867 10.8773 11.3104 11.8176 11.3104C12.7578 11.3104 13.6596 11.6867 14.3245 12.3564C14.9893 13.0261 15.3628 13.9345 15.3628 14.8816C15.3628 15.8288 14.9893 16.7371 14.3245 17.4068C13.6596 18.0766 12.7578 18.4528 11.8176 18.4528C10.8773 18.4528 9.97555 18.0766 9.31068 17.4068C8.64582 16.7371 8.2723 15.8288 8.2723 14.8816Z" fill="#2F2F2F" stroke="#2F2F2F" stroke-width="2" mask="url(#path-1-inside-1_258_913)"/>
                  </svg>
                  </span>
                <p class="photographer-info__stat-text">
                  Concert, Music, Sport, Events
                </p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon"
                  ><svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 1L18.0171 9.22968L27 10.5495L20.4993 16.9549L22.0343 26L14 21.7297L5.96572 26L7.50068 16.9549L1 10.5495L9.98286 9.22968L14 1Z" stroke="#2F2F2F" stroke-width="2" stroke-linejoin="round"/>
                  </svg>
                  </span
                >
                <p class="photographer-info__stat-text">
                  10+ years of experience - 50+ shootings
                </p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon"
                  ><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.95 13.75C18.95 16.6219 16.6219 18.95 13.75 18.95M18.95 13.75C18.95 10.8781 16.6219 8.55 13.75 8.55M18.95 13.75V25.45M13.75 18.95C10.8781 18.95 8.55 16.6219 8.55 13.75M13.75 18.95H2.05M8.55 13.75C8.55 10.8781 10.8781 8.55 13.75 8.55M8.55 13.75V2.05M13.75 8.55H25.45M26.75 13.75C26.75 20.9297 20.9297 26.75 13.75 26.75C6.5703 26.75 0.75 20.9297 0.75 13.75C0.75 6.5703 6.5703 0.75 13.75 0.75C20.9297 0.75 26.75 6.5703 26.75 13.75Z" stroke="#2F2F2F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  </span
                >
                <p class="photographer-info__stat-text">
                  Sony A7 IV - 70-200mm f/2.8
                </p>
              </div>

              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon"
                  ><!-- SVG Logo ici --></span
                >
                <p class="photographer-info__stat-text">
                  websitePhotographer@domain.com
                </p>
              </div>

              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon"
                  ><svg width="26" height="29" viewBox="0 0 26 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.5 28.0938C25.5 28.218 25.455 28.3273 25.3896 28.4004C25.3258 28.4716 25.2517 28.5 25.1875 28.5H0.8125C0.748335 28.5 0.674235 28.4716 0.610352 28.4004C0.54495 28.3273 0.500006 28.2179 0.5 28.0938V12.1816L1.01562 12.7568L1.125 12.8779V27.6875H24.875V12.8779L24.9844 12.7568L25.5 12.1816V28.0938ZM23.875 12.3486V14.8076C23.8749 14.8835 23.858 14.9562 23.8281 15.0186C23.7982 15.0808 23.7576 15.1283 23.7148 15.1602L13.1523 23.0088C13.1018 23.0463 13.0487 23.0615 13 23.0615C12.9513 23.0615 12.8982 23.0463 12.8477 23.0088L2.28516 15.1602C2.24236 15.1283 2.2018 15.0808 2.17188 15.0186C2.1569 14.9873 2.14568 14.9534 2.1377 14.918L2.125 14.8076V12.3486L2.75 11.6523V14.5732L2.95215 14.7236L12.7021 21.9678L13 22.1895L13.2979 21.9678L23.0479 14.7236L23.25 14.5732V11.6523L23.875 12.3486ZM2.34082 10.6094L2.125 10.8506V10.3691L2.34082 10.6094ZM23.875 10.8506L23.6582 10.6094L23.875 10.3691V10.8506ZM2.4375 5.93652H4.8623L5.34668 6.74902H2.75V9.56738L2.23438 8.99316L2.125 8.87109V6.34277C2.12507 6.2186 2.16992 6.10913 2.23535 6.03613C2.29924 5.96487 2.37334 5.93652 2.4375 5.93652ZM23.5625 5.93652C23.6267 5.93652 23.7008 5.96487 23.7646 6.03613C23.8301 6.10913 23.8749 6.2186 23.875 6.34277V8.87109L23.7656 8.99316L23.25 9.56738V6.74902H20.6523L21.1377 5.93652H23.5625ZM17.4629 5.93652L18.5557 6.74902H7.44434L8.53711 5.93652H17.4629ZM6.86035 5.93652L6.28223 6.36523L6.02734 5.93652H6.86035ZM19.9727 5.93652L19.7158 6.36523L19.1396 5.93652H19.9727ZM13 0.5C13.0243 0.500006 13.0496 0.504087 13.0752 0.512695L13.1523 0.553711L19.0469 4.93652H17.7939L13.2979 1.59375L13 1.37207L12.7012 1.59375L8.20508 4.93652H6.95312L12.8477 0.553711C12.8982 0.516184 12.9513 0.5 13 0.5Z" fill="#D2D2CE" stroke="#2F2F2F"/>
                  </svg></span
                >
                <p class="photographer-info__stat-text">
                  Photographer@example.com
                </p>
              </div>
            </div>

            <div class="photographer-info__social">
              <h4 class="photographer-info__social-title">FOLLOW ME</h4>
              <div class="photographer-info__social-links">
                  <a href="#"
                  class="photographer-info__social-link"
                  aria-label="Twitter"
                  rel="noopener noreferrer"
                  >
                      <svg
                          class="photographer-info__social-picto"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                      >
                          <path d="M23.954 4.569c-.885.392-1.83.656-2.825.775 
                          1.014-.611 1.794-1.574 2.163-2.724
                          -.951.564-2.005.974-3.127 1.195
                          -.897-.957-2.178-1.555-3.594-1.555
                          -2.723 0-4.928 2.205-4.928 4.928
                          0 .39.045.765.127 1.124
                          -4.094-.205-7.725-2.165-10.148-5.144
                          -.424.722-.666 1.561-.666 2.475
                          0 1.71.87 3.213 2.188 4.096
                          -.807-.026-1.566-.248-2.229-.616v.061
                          c0 2.385 1.693 4.374 3.946 4.827
                          -.413.111-.849.171-1.296.171
                          -.314 0-.615-.03-.916-.086
                          .631 1.953 2.445 3.377 4.604 3.419
                          -1.68 1.319-3.809 2.105-6.102 2.105
                          -.39 0-.779-.023-1.17-.067
                          2.189 1.394 4.768 2.209 7.557 2.209
                          9.054 0 14-7.496 14-13.986
                          0-.21 0-.423-.016-.637
                          .962-.689 1.8-1.56 2.46-2.548z"/>
                      </svg>
                  </a>
                    <a href="#" class="photographer-info__social-link" aria-label="Facebook" rel="noopener noreferrer">
                    <svg
                        class="photographer-info__social-picto"
                        viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                    >
                        <path d="m40.4 55.2c-.3 0-6.9 0-9.9 0-1.6 0-2.1-.6-2.1-2.1 0-4 0-8.1 0-12.1 0-1.6.6-2.1 2.1-2.1h9.9c0-.3 0-6.1 0-8.8 0-4 .7-7.8 2.7-11.3 2.1-3.6 5.1-6 8.9-7.4 2.5-.9 5-1.3 7.7-1.3h9.8c1.4 0 2 .6 2 2v11.4c0 1.4-.6 2-2 2-2.7 0-5.4 0-8.1.1-2.7 0-4.1 1.3-4.1 4.1-.1 3 0 5.9 0 9h11.6c1.6 0 2.2.6 2.2 2.2v12.1c0 1.6-.5 2.1-2.2 2.1-3.6 0-11.3 0-11.6 0v32.6c0 1.7-.5 2.3-2.3 2.3-4.2 0-8.3 0-12.5 0-1.5 0-2.1-.6-2.1-2.1 0-10.5 0-32.4 0-32.7z"/>
                    </svg>
                </a>
                <a href="#"
                class="photographer-info__social-link"
                aria-label="Instagram"
                rel="noopener noreferrer"
                >
                    <svg
                        class="photographer-info__social-picto"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                    >
                        <path d="M7.75 2h8.5C19.55 2 22 4.45 22 7.75v8.5
                        C22 19.55 19.55 22 16.25 22h-8.5
                        C4.45 22 2 19.55 2 16.25v-8.5
                        C2 4.45 4.45 2 7.75 2zm0 1.5
                        C5.26 3.5 3.5 5.26 3.5 7.75v8.5
                        c0 2.49 1.76 4.25 4.25 4.25h8.5
                        c2.49 0 4.25-1.76 4.25-4.25v-8.5
                        c0-2.49-1.76-4.25-4.25-4.25h-8.5zm10.5 2
                        a1 1 0 110 2 1 1 0 010-2zM12 7
                        a5 5 0 110 10 5 5 0 010-10zm0 1.5
                        a3.5 3.5 0 100 7 3.5 3.5 0 000-7z"/>
                    </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="photographer-info__about-actions">
            <div class="photographer-info__about">
              <h2 class="photographer-info__about-title">ABOUT ME</h2>
              <p class="photographer-info__about-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit totam atque dignissimos porro, exercitationem, neque alias ea aliquid quibusdam voluptates impedit maxime aut asperiores consequatur iste. Corporis fuga ducimus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non dolorem consequatur vitae hic.
              <br><br>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque qui aliquid neque dolor nihil nostrum obcaecati ipsam, aliquam blanditiis eius sequi cupiditate laudantium corrupti quae harum corporis eos ipsum quam.<br>
              exercitationem, neque alias ea aliquid quibusdam voluptates impedit maxime aut asperiores consequatur iste. Corporis fuga ducimus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non dolorem consequatur vitae hic.
              <br><br>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque qui aliquid neque dolor nihil nostrum obcaecati ipsam, aliquam blanditiis eius sequi cupiditate laudantium corrupti quae harum corporis eos ipsum quam. Lorem, ipsum dolor sit a Lorem, ipsum dolor sit a
              </p>
            </div>

            <div class="photographer-info__actions">
              <button class="photographer-info__button button button--black button--medium ">
                MORE DETAILS ABOUT MY SERVICES
              </button>
              <button class="photographer-info__button button button--accent button--medium ">
                DISCOVER MY WORK
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION: Gallery -->
      <section class="photographer-gallery">
        {# <h2 class="photographer-gallery__title">GALLERY</h2> #}
        <div class="gallery">
  
          <div class="gallery__filters">
            <button class="js-filter-button" data-filter="*">All</button>
  
            {% for series in photographer.gallerySeries %}
                {% set seriesClass = series.name|lower|replace({' ': '-', '_': '-'})|trim %}
                <button class="js-filter-button" data-filter=".{{ seriesClass }}">
                    {{ series.name }}
                </button>
            {% endfor %}
        </div>
        <div class="gallery__grid js-gallery-grid">
  
  
           {% for media in featuredMedias %}
              {% set seriesClass = media.gallerySeries ? media.gallerySeries.name|lower|replace({' ': '-', '_': '-'})|trim : '' %}
              <div class="gallery__item js-gallery-item {{ seriesClass }}">
                  <a href="{{ asset('uploads/' ~ media.path) }}"
                    class="gallery__link js-gallery-lightbox"
                    data-gallery="portfolio">
                      <img src="{{ asset('uploads/' ~ media.path) }}" 
                          alt="{{ media.altText ?? 'photography' }}" 
                          class="gallery__image u-img-cover">
                  </a>
              </div>
          {% endfor %}
  
        </div>
      </div>


      </section>
  

      <!-- SECTION: Testimonials -->
      <section class="photographer-testimonials">
        <h2 class="photographer-testimonials__title">TESTIMONIALS</h2>
        <p>Testimonials will be added here...</p>
      </section>
    </div>
  </div>
</section>

{% endblock %}

{# 6ct34p3)Ap24lm #}