{% extends 'base.html.twig' %}

{% block meta_description %}Discover {{ photographer.firstName }} {{ photographer.lastName }}, photographer at [Agency Name]. Explore their creative vision, specialties, background, and featured photography work. {% endblock %}

{% block title %}{{ photographer.firstName }} {{ photographer.lastName }} | Photographer at MOSAIC {% endblock %}


{% block body %}


<twig:Banner
    title="{{ 'Meet the artist - ' ~ photographer.firstName ~ ' ' ~ photographer.lastName }}"
    subtitle="The Talent Behind the Camera."
    :breadcrumbs="[
        { label: 'Home', url: path('home'), type: 'link' },
        { label: 'separator', type: 'separator' },
        { label: 'Team', url: path('team_index'), type: 'link' },
        { label: 'separator', type: 'separator' },
        { label: photographer.firstName ~ ' ' ~ photographer.lastName, type: 'current' }
    ]"
/>


<section class="page portfolio-page porfolio" aria-labelledby="porfolio-title">
  <div class="portfolio-page__container section-centered">
    <div class="portfolio-page__content">
      <!-- SECTION: Photographer Info -->
      <section class="photographer-info">
        <div class="photographer-info__header">
          <figure class="photographer-info__photo">
              <img
                src="/uploads/{{bannerImage.path}}"
                alt="{{bannerImage.altText}}"
                class="photographer-info__photo-img u-img-cover"
              />
          </figure>
          <div class="photographer-info__quote">
            <span class="quote-icon-left">
              {% include 'components/icons/quote.html.twig' %}
            </span>
            <h5>
              {{ photographer.profile.bio.quote}}
            </h5>
              <span class="quote-icon-right">
              {% include 'components/icons/quote.html.twig' %}
            </span>
          </div>
        </div>

        <div class="photographer-info__details-wrapper">
          <div class="photographer-info__details">
            <div class="photographer-info__stats">
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/marker.html.twig' %} 
              </span>
                <p class="photographer-info__stat-text">{{photographer.profile.info.location}}</p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/chat.html.twig' %}
                  </span
                >
                <p class="photographer-info__stat-text">{{ photographer.languagesNames|join(', ') }}</p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/camera.html.twig' %}
                  </span>
                <p class="photographer-info__stat-text">
                  {{ photographer.specialityNames|join(', ') }}
                </p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/star.html.twig' %}
                </span>
                <p class="photographer-info__stat-text">
                  {{  photographer.profile.stats.experience_years }} years of experience - {{ photographer.profile.stats.shootings_count }} shootings
                </p>
              </div>
              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/lens.html.twig' %}
                </span>
                <p class="photographer-info__stat-text">
                  {{photographer.profile.equipment|join(', ')}}
                </p>
              </div>

              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/website2.html.twig' %}
                </span>
               <p class="photographer-info__stat-text">
                  <a
                      href="https://{{ photographer.profile.links.website }}"
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                      aria-label="Visit {{ photographer.firstName }} {{ photographer.lastName }}'s website (opens in a new tab)"
                  >
                      {{ photographer.profile.links.website }}
                  </a>
              </p>
              </div>

              <div class="photographer-info__stat">
                <span class="photographer-info__stat-icon">
                  {% include 'components/icons/mail2.html.twig' %}
                  </span
                </span
                <p class="photographer-info__stat-text">
                  <a
                      href="mailto:{{ photographer.email }}"
                      aria-label="Send an email to {{ photographer.firstName }} {{ photographer.lastName }}"
                  >
                      {{ photographer.email }}
                  </a>
              </p>
              </div>
            </div>

            {% set socialIcons = {
                instagram: 'components/icons/instagram2.html.twig',
                behance: 'components/icons/behance.html.twig',
                tiktok: 'components/icons/tiktok.html.twig',
                youtube: 'components/icons/youtube.html.twig',
                twitter: 'components/icons/twitter2.html.twig',
                facebook: 'components/icons/facebook.html.twig'
            } %}

            {% if photographer.profile.links.socials is not empty %}
                <div class="photographer-info__social">
                    <h4 class="photographer-info__social-title">FOLLOW ME</h4>

                    <div class="photographer-info__social-links">
                        {% for network, icon in socialIcons %}
                            {% if attribute(photographer.profile.links.socials, network) is defined
                                and attribute(photographer.profile.links.socials, network) %}
                                <a
                                    href="https://{{ network == 'facebook' ? 'facebook.com/' : network ~ '.com/' }}{{ attribute(photographer.profile.links.socials, network)|trim('@') }}"
                                    class="photographer-info__social-link"
                                    aria-label="{{ network|capitalize }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    {% include icon %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
          </div>

          <div class="photographer-info__about-actions">
            <div class="photographer-info__about">
              <h2 class="photographer-info__about-title">ABOUT ME</h2>
              <p class="photographer-info__about-text">
                {{ photographer.profile.bio.long|raw}}
              </p>
            </div>

            <div class="photographer-info__actions">
              <a href=""
                 class="photographer-info__button button button--accent button--medium"
                 aria-label="Send a message to {{ photographer.firstName }} {{ photographer.lastName }}">
                SEND ME A MESSAGE
              </a>
              <a href=""
                 class="photographer-info__button button button--black button--medium"
                 aria-label="Discover more details about {{ photographer.firstName }} {{ photographer.lastName }}'s services">
                MORE DETAILS ABOUT MY SERVICES
              </a>
              <a href=""
                 class="photographer-info__button button button--black button--medium"
                 aria-label="Discover {{ photographer.firstName }} {{ photographer.lastName }}'s photography work">
                DISCOVER MY WORK
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION: Gallery -->
      <section class="photographer-gallery gallery-glightbox-isotope">
        {# <h2 class="photographer-gallery__title">GALLERY</h2> #}
        <div class="gallery">
  
          <div class="gallery__filters">
            <button class="js-filter-button active" data-filter="*">All</button>
  
            {% for series in photographer.gallerySeries %}
                {% set seriesClass = series.name|lower|replace({' ': '-', '_': '-'})|trim %}
                <button class="js-filter-button" data-filter=".{{ seriesClass }}">
                    {{ series.name }}
                </button>
            {% endfor %}
          </div>

        <div class="gallery__grid js-gallery-grid">
  
           {% for media in featuredMedias %}
              {% set seriesClass = media.gallerySeries ? media.gallerySeries.name|lower|replace({' ': '-', '_': '-'})|trim : '' %}
              <div class="gallery__item js-gallery-item {{ seriesClass }} {{ loop.index > 9 ? 'is-hidden' }}">
                  <a href="{{ asset('uploads/' ~ media.path) }}"
                    class="gallery__link js-gallery-lightbox"
                    data-gallery="portfolio">
                      <img src="{{ asset('uploads/' ~ media.path) }}" 
                          alt="{{ media.altText ?? 'photography' }}" 
                          class="gallery__image u-img-cover">
                  </a>
              </div>
          {% endfor %}
          
        </div>

        <div class="photographer-gallery__actions">
          <button class="gallery__more js-gallery-more button button--accent button--medium">SEE MORE</button>
        </div>
      </div>


      </section>
  

      <!-- SECTION: Testimonials -->
      <section class="photographer-testimonials">
        <h2 class="photographer-testimonials__title">TESTIMONIALS</h2>
        <p>Testimonials will be added here...</p>
      </section>
    </div>
  </div>
</section>

{% endblock %}

{# 6ct34p3)Ap24lm #}