<div class="modal proposal-modal" id="confirmationModal">
    <div class="modal-backdrop"></div>

    <div class="modal-content">
        <h5 class="modal__title">Accept Proposal</h5>
        <p class="modal__description">You are about to accept this proposal:</p>

        <div class="modal__info-box">
            <p><strong>Title :</strong> {{ proposal.title }}</p>
            <p><strong>Message :</strong> {{ proposal.message }}</p>
            <p><strong>Total Price (incl. tax)</strong> €{{ (proposal.priceExcluTax * (1 + proposal.tax.rate))|number_format(2) }}</p>
        </div>

        <p class="modal__info-text">By confirming, you will be redirected to the order page.</p>

        <div class="modal__actions">
            <button type="button" class="modal__btn modal__btn--secondary cancel-modal-btn button button--small button--black-variant">Cancel</button>

            <form method="post" action="{{ path('proposal_accept', {'id': proposal.id}) }}" class="modal__form">
                <input type="hidden" name="_confirm_token" value="{{ csrf_token('confirm_proposal_' ~ proposal.id) }}">
                <input type="hidden" name="action" value="confirm">
                <button type="submit" class="modal__btn modal__btn--primary button button button--small btn-confirm">Confirm</button>
            </form>
        </div>
    </div>
</div>