{% extends 'base.html.twig' %}


{% block title %}Conversation with {{ otherParticipant.username }} {% endblock %}



{% block body %}

{# <twig:Banner
title="My blabla page"
subtitle="Aut fuga culpa ab quibusdam"
variant="dark"
/> #}

<section id="conversation-page">
    <h1>Conversation avec {{ otherParticipant.username }}</h1>

    <ul>
    {% for msg in messages %}
        <li>
            <strong>{{ msg.sender.username }}</strong> :
            {{ msg.content }}
            <em>({{ msg.creationDate|date('H:i d/m/Y') }})</em>
        </li>
    {% else %}
        <li>Aucun message</li>
    {% endfor %}
    </ul>

    {{ form_start(form, {'attr': {'id': 'message-form'}}) }}
    {{ form_widget(form.content, {'attr': {'id': 'message-input', 'placeholder': 'Écrire un message...'}}) }}
    <button type="submit">Envoyer</button>
{{ form_end(form) }}
</section>


{% endblock %}