<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

         {# Meta description #}
        <meta name="description" content="{% block meta_description %}{{ meta_description|default('Default meta description') }}{% endblock %}">

        {# Meta robots #}
        <meta name="robots" content="{% block meta_robots %}{{ meta_robots|default('index, follow') }}{% endblock %}">
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% if label == 'success' and message.type is defined and message.type == 'registration' %}
                <div class="flash-message alert alert-{{ label }}">
                    {{ message.text|nl2br }}
                    <button type="button" class="flash-close" aria-label="Close">&times;</button>
                </div>
            {% else %}
                <div class="flash-message alert alert-{{ label }}">
                    {{ message|nl2br }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
        


    {% include 'layout/navbar.html.twig' %}
    <body class="{% block body_class %}{% endblock %}">
        <div class="page-wrapper">
    
            <main class="content">
                {% block body %}{% endblock %}

            </main>
    
            {% block footer %}
                {% include 'layout/footer.html.twig' %}
            {% endblock %}  
        </div>

        <button id="scrollTopBtn" class="scroll-top-btn">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8L8 0L16 8L14 10L8 4L2 10L0 8Z" fill="#D2D2CE"/>
            </svg>
        </button>
    </body>

    
    <!-- Overlay -->
    <div class="side-panel__overlay"></div>

    <!-- Aside -->
    <aside
        id="side-panel"
        class="side-panel"
        aria-hidden="true"
    >

        <div class="side-panel__content">
            <!-- contenu -->
        </div>
    </aside>

</html>
