<div 
    class="section-photographs__item photograph-box"
    role="group"
    aria-labelledby="photographs-title"
    >

    <figure class="section-photographs__media">
        <img 
            src="{{ imageSrc }}" 
            alt="{{ name }} photography"
            class="section-photographs__image u-img-cover"
            loading="lazy"
        >
    </figure>

    <div class="section-photographs__infos">
        <p class="section-photographs__service">{{service}}</p>
        <a  href="{{link}}"><h4 class="section-photographs__name">{{name}}</h4></a>
    </div>

</div>