<div class="section-intro {% if variant %}section-intro--{{ variant }}{% endif %}">
    <div class="section-intro__text">
        <h2 class="section-intro__title" {% if titleId is defined %}id="{{ titleId }}"{% endif %}>{{ title }}</h2>
        <p class="section-intro__subtitle">{{ subtitle }}</p>
    </div>
    <div class="section-intro__action">
        <a href="{{ linkBtn }}" class="section-intro__button button button--accent button--small">
            {{ buttonText }}
        </a>
    </div> 
</div>

