<div class="section-intro {% if variant %}section-intro--{{ variant }}{% endif %}">
    <div class="section-intro__text">
        <h2 class="section-intro__title">{{ title }}</h2>
        <h5 class="section-intro__subtitle">{{ subtitle }}</h5>
    </div>
    <div class="section-intro__action">
        <button class="section-intro__button button button--accent button--small ">
            <a href="{{ linkBtn }}">{{ buttonText }}</a></button>
    </div> 
</div>

