<div 
    class="section-services__item"
    role="group"
    aria-labelledby="service-wedding-title"
    >

    <figure class="section-services__media">
        <img 
            src="{{ imageSrc }}" 
            alt="{{ title }} photography"
            class="section-services__image u-img-cover"
            loading="lazy"
        >
    </figure>

    <div class="section-services__body">

        <div class="section-services__text">
            <h4 class="section-services__title">
                <a href="{{ link }}">{{ title }}</a>
            </h4>
            <p {{ subtitle }} class="section-services__description">
                
            </p>
        </div>

        <div class="section-services__icon">picto svg</div>

    </div>
</div>

