<header class="site-header">
    <nav class="navbar" aria-label="Main navigation">
        <div class="navbar__container">

            <div class="navbar__left-menu">
                <button
                    class=" navbar_icon-btn side-panel__toggle"
                    aria-expanded="false"
                    aria-controls="side-panel"
                    aria-label="Toggle side panel"
                >
                    <span class="navbar_icon side-panel__icon" aria-hidden="true"></span>
                </button>

                
                <!-- Brand -->
                <div class="navbar__brand">
                    <a href="{{ path('home') }}" class="navbar__logo-link">
                        <span class="navbar__logo"></span>
                        <span class="navbar__site-name">MOSAIC</span>
                    </a>
                </div>
            </div>
            <!-- Aside toggle -->

            <div class="navbar__right-menu">

                <!-- Main navigation -->
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="{{ path('home') }}"
                        class="navbar__link {% if app.request.attributes.get('_route') == 'home' %}navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'home' %}aria-current="page"{% endif %}>
                        Home
                     </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('team_index') }}" class="navbar__link" {% if app.request.attributes.get('_route') == 'team' %}navbar__link--active{% endif %}>Team</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/gallery" class="navbar__link">Gallery</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('blog_index')}}" class="navbar__link">Blog</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('contact') }}"
                        class="navbar__link {% if app.request.attributes.get('_route') == 'contact' %}navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'contact' %}aria-current="page"{% endif %}>
                        Contact
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/contact" class="navbar__link">Contact</a>
                    </li>
                </ul>

                <!-- Burger menu -->
                <button
                class="navbar_icon-btn navbar__burger"
                aria-expanded="false"
                aria-controls="navbar__menu"
                aria-label="Menu"
                >
                    <span class="navbar_icon navbar__burger-icon" aria-hidden="true"></span>
                </button>
    
                <!-- Actions -->
                <!-- Search -->
                <div class="navbar__actions">
                    <a href="/search" class="navbar__action navbar__action--search">
                        <svg id="fi_7535830" enable-background="new 0 0 24 24" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m20.7 19.3-3.4-3.4c1.1-1.4 1.7-3.1 1.7-4.9 0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l3.4 3.4c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4zm-15.7-8.3c0-3.3 2.7-6 6-6s6 2.7 6 6-2.7 6-6 6-6-2.7-6-6z"  fill="#F2F2F2"></path></svg>
                    </a>

                    <!-- Chat notification -->
                    {% if app.user %}
                    <a href="{{ path('chat') }}"
                    class="navbar__chat-link"
                    aria-label="Chats">

                        <svg class="navbar__user-icon navbar__user-icon-chat 
                            {% if app.request.attributes.get('_route') starts with 'chat' %}
                                navbar__icone--active
                            {% endif %}"
                            width="30"
                            height="30"
                            viewBox="-2.4 -3.4 28.8 28.8"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">

                            <path d="M13.4914 24L12 23.0769L15.4286 16.6154H20.5714C21.0261 16.6154 21.4621 16.4209 21.7836 16.0747C22.1051 15.7284 22.2857 15.2589 22.2857 14.7692V3.69231C22.2857 3.20268 22.1051 2.7331 21.7836 2.38688C21.4621 2.04066 21.0261 1.84615 20.5714 1.84615H3.42857C2.97391 1.84615 2.53788 2.04066 2.21639 2.38688C1.8949 2.7331 1.71429 3.20268 1.71429 3.69231V14.7692C1.71429 15.2589 1.8949 15.7284 2.21639 16.0747C2.53788 16.4209 2.97391 16.6154 3.42857 16.6154H11.1429V18.4615H3.42857C2.51926 18.4615 1.64719 18.0725 1.00421 17.3801C0.361224 16.6876 0 15.7485 0 14.7692V3.69231C0 2.71305 0.361224 1.77389 1.00421 1.08145C1.64719 0.38901 2.51926 0 3.42857 0H20.5714C21.4807 0 22.3528 0.38901 22.9958 1.08145C23.6388 1.77389 24 2.71305 24 3.69231V14.7692C24 15.7485 23.6388 16.6876 22.9958 17.3801C22.3528 18.0725 21.4807 18.4615 20.5714 18.4615H16.4229L13.4914 24Z" fill="#F2F2F2"/>
                            <path d="M5.14286 5.53846H18.8571V7.38462H5.14286V5.53846ZM5.14286 11.0769H13.7143V12.9231H5.14286V11.0769Z" fill="#F2F2F2"/>
                        </svg>
                        {# {% set unreadCount = unreadCount() %} #}
                        {% if unread_messages_count() > 0 %}
                        <div class="navbar__notification-count">
                            <p>{{ unread_messages_count() }}</p>
                        </div>
                    {% endif %}
                    
                    </a>

                    {% endif %}

                    <!-- log in/register/profile -->
                    <div class="navbar__user" aria-label="User menu">
                        <button class="navbar__user-btn" aria-haspopup="true" aria-expanded="false">
                            {% if app.user %}
                                <svg class="navbar__user-icon navbar__user-icon-profile {% if app.request.attributes.get('_route') == 'app_profile' %}navbar__icone--active{% endif %}" fill="none" height="30" viewBox="0 0 24 24" width="33" xmlns="http://www.w3.org/2000/svg">
                                    <path clip-rule="evenodd" d="m22 12c0 5.5228-4.4772 10-10 10-5.52285 0-10-4.4772-10-10 0-5.52285 4.47715-10 10-10 5.5228 0 10 4.47715 10 10zm-4.2863 4.4006c.3279.3345.3279.8644-.0001 1.199-1.4519 1.4813-3.4754 2.4004-5.7135 2.4004-2.23824 0-4.26176-.9191-5.71374-2.4006-.32791-.3345-.3279-.8644.00001-1.199 1.45197-1.4813 3.47544-2.4004 5.71363-2.4004 2.2382 0 4.2617.9192 5.7137 2.4006zm-5.7137-4.4006c1.6569 0 3-1.3431 3-3 0-1.65685-1.3431-3-3-3s-3 1.34315-3 3c0 1.6569 1.3431 3 3 3z" fill="currentColor" fill-rule="evenodd"></path>
                                </svg>
                            {% else %}

                            {% set currentRoute = app.request.attributes.get('_route') %}

                            <svg class="navbar__user-icon navbar__user-icon-log
                                {% if currentRoute in ['app_register', 'app_login'] %}
                                    navbar__icone--active
                                {% endif %}"
                                width="25"
                                height="25"
                                viewBox="0 0 26 26"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1449 4.43516e-05C8.67715 -0.0116744 4.74551 2.29985 2.49844 5.79204C2.39883 5.94731 2.51016 6.15239 2.69473 6.15239H4.7543C4.89492 6.15239 5.02676 6.09086 5.11465 5.98247C5.31973 5.73344 5.53945 5.49321 5.7709 5.26469C6.72598 4.31254 7.83633 3.56254 9.07266 3.04106C10.35 2.502 11.7094 2.22661 13.1127 2.22661C14.516 2.22661 15.8754 2.49907 17.1527 3.04106C18.3891 3.56254 19.4994 4.31254 20.4545 5.26469C21.4096 6.21684 22.1566 7.32719 22.6811 8.56059C23.223 9.83794 23.4955 11.1944 23.4955 12.5977C23.4955 14.001 23.2201 15.3575 22.6811 16.6348C22.1596 17.8682 21.4096 18.9786 20.4545 19.9307C19.4994 20.8829 18.3891 21.6329 17.1527 22.1543C15.8744 22.6943 14.5004 22.9713 13.1127 22.9688C11.7094 22.9688 10.35 22.6934 9.07266 22.1543C7.83874 21.6334 6.71748 20.8783 5.7709 19.9307C5.53945 19.6993 5.32266 19.459 5.11465 19.2129C5.02676 19.1045 4.89199 19.043 4.7543 19.043H2.69473C2.51016 19.043 2.3959 19.2481 2.49844 19.4034C4.74258 22.8868 8.65664 25.1954 13.1127 25.1954C20.0326 25.1954 25.6518 19.626 25.7221 12.7266C25.7924 5.71587 20.1645 0.0176225 13.1449 4.43516e-05ZM9.43359 15.8789V13.6524H0.234375C0.105469 13.6524 0 13.5469 0 13.418V11.7774C0 11.6485 0.105469 11.543 0.234375 11.543H9.43359V9.31645C9.43359 9.12016 9.66211 9.00883 9.81445 9.13188L13.9717 12.4131C13.9997 12.4351 14.0223 12.4631 14.0379 12.495C14.0535 12.527 14.0616 12.5621 14.0616 12.5977C14.0616 12.6333 14.0535 12.6684 14.0379 12.7004C14.0223 12.7323 13.9997 12.7603 13.9717 12.7823L9.81445 16.0635C9.66211 16.1836 9.43359 16.0752 9.43359 15.8789Z" fill="currentColor" fill="black"/>
                                </svg>
                            {% endif %}
                            <span class="visually-hidden">User menu</span>
                        </button>

                        <ul class="navbar__user-menu" aria-label="User actions">
                            <div class="navbar__user-container">
                                {% if app.user %}
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_profile') }}"
                                            class="navbar__user-link "
                                            {% if app.request.attributes.get('_route') == 'app_profile' %}aria-current="page"{% endif %}>
                                            Profile
                                        </a>
                                    </li>
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_logout') }}" class="navbar__user-link">Log out</a>
                                    </li>
                                {% else %}
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_register') }}" class="navbar__user-link">Register</a>
                                    </li>
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_login') }}" class="navbar__user-link">Log in</a>
                                    </li>
                                {% endif %}
                            </div>
                        </ul>
</div>
                    
                </div>
            </div>

        </div>
    </nav>
</header>

