<header class="site-header">
    <nav class="navbar" aria-label="Main navigation">
        <div class="navbar__container">

            <div class="navbar__left-menu">
                <button
                    class=" navbar_icon-btn side-panel__toggle"
                    aria-expanded="false"
                    aria-controls="side-panel"
                    aria-label="Toggle side panel"
                >
                    <span class="navbar_icon side-panel__icon" aria-hidden="true"></span>
                </button>

                
                <!-- Brand -->
                <div class="navbar__brand">
                    <a href="{{ path('home') }}" class="navbar__logo-link">
                        <span class="navbar__logo">{% include 'components/icons/logo.html.twig' %}</span>
                        <span class="navbar__site-name">MOSAIC</span>
                    </a>
                </div>
            </div>
            <!-- Aside toggle -->

            <div class="navbar__right-menu">

                <!-- Main navigation -->
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="{{ path('home') }}"
                        class="navbar__link {% if app.request.attributes.get('_route') == 'home' %}navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'home' %}aria-current="page"{% endif %}>
                        Home
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('team_index') }}" 
                        class="navbar__link {% if app.request.attributes.get('_route') == 'team_index' %} navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'team_index' %}aria-current="page"{% endif %}>
                        Team
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('gallery_index') }}"
                        class="navbar__link {% if app.request.attributes.get('_route') == 'gallery_index' %}navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'gallery_index' %}aria-current="page"{% endif %}>
                        Gallery
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('blog_index')}}" 
                        class="navbar__link {% if app.request.attributes.get('_route') == 'blog_index' %}navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'blog_index' %}aria-current="page"{% endif %}>
                        Blog
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ path('contact') }}"
                        class="navbar__link {% if app.request.attributes.get('_route') == 'contact' %}navbar__link--active{% endif %}"
                        {% if app.request.attributes.get('_route') == 'contact' %}aria-current="page"{% endif %}>
                        Contact
                        </a>
                    </li>
                </ul>

                <!-- Burger menu -->
                <button
                class="navbar_icon-btn navbar__burger"
                aria-expanded="false"
                aria-controls="navbar__menu"
                aria-label="Menu"
                >
                    <span class="navbar_icon navbar__burger-icon" aria-hidden="true"></span>
                </button>
    
                <!-- Actions -->
                <!-- Search -->
                <div class="navbar__actions">
                    {# <a href="/search" class="navbar__action navbar__action--search">
                        <svg id="fi_7535830" enable-background="new 0 0 24 24" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m20.7 19.3-3.4-3.4c1.1-1.4 1.7-3.1 1.7-4.9 0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8c1.8 0 3.5-.6 4.9-1.7l3.4 3.4c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4zm-15.7-8.3c0-3.3 2.7-6 6-6s6 2.7 6 6-2.7 6-6 6-6-2.7-6-6z"  fill="#F2F2F2"></path></svg>
                    </a> #}

                    <!-- Chat notification -->
                    {% if app.user %}
                    <a href="{{ path('chat') }}"
                    class="navbar__chat-link"
                    aria-label="Chats">
                        {{ include('components/icons/chat-message.html.twig') }}
                        {% if unread_messages_count() > 0 %}
                        <div class="navbar__notification-count">
                            <p>{{ unread_messages_count() }}</p>
                        </div>
                    {% endif %}
                    
                    </a>

                    {% endif %}


                    <!-- log in/register/profile -->
                    <div class="navbar__user" aria-label="User menu">
                        <button class="navbar__user-btn" aria-haspopup="true" aria-expanded="false">
                            {% if app.user %}
                                {{ include('components/icons/profile.html.twig') }}
                            {% else %}
                            {% set currentRoute = app.request.attributes.get('_route') %}
                                {{ include('components/icons/login.html.twig') }}
                            {% endif %}
                            <span class="visually-hidden">User menu</span>
                        </button>

                        <ul class="navbar__user-menu" aria-label="User actions">
                            <div class="navbar__user-container">
                                {% if app.user %}
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_profile') }}"
                                            class="navbar__user-link "
                                            {% if app.request.attributes.get('_route') == 'app_profile' %}aria-current="page"{% endif %}>
                                            Profile
                                        </a>
                                    </li>

                                    {% if is_granted('ROLE_PHOTOGRAPHER') and app.user.photographer %}
                                    <li class="navbar__user-item">
                                        <a href="{{ path('photographer_dashboard_index', { slug: app.user.photographer.slug }) }}"
                                            class="navbar__user-link"
                                            {% if app.request.attributes.get('_route') starts with 'photographer_dashboard_' %}aria-current="page"{% endif %}>
                                            Dashboard
                                        </a>
                                    </li>
                                    {% endif %}

                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_logout') }}" class="navbar__user-link">Log out</a>
                                    </li>
                                {% else %}
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_register') }}" class="navbar__user-link">Register</a>
                                    </li>
                                    <li class="navbar__user-item">
                                        <a href="{{ path('app_login') }}" class="navbar__user-link">Log in</a>
                                    </li>
                                {% endif %}
                            </div>
                        </ul>
                    </div>
                    
                </div>
            </div>

        </div>
    </nav>
</header>

